{% extends 'base.html' %}
{% block content %}
{% load static %}


<html>

<body>
	<header>

    
		<div class="container">
			<div class="content">
		<div class="contact">
      <h2>راه های ارتباطی ما:</h2>
			<br>
      <ul class="contact-info">
        <li><i class="fa fa-map-marker"></i>  آدرس :  شبدر دره، سمت بال شرقی</li>
        <li><i class="fa fa-phone"></i>  224232 021 : تلفن   </li>
        <li><i class="fa fa-envelope"></i> aboghol@example.com</li>
      </ul>
    </div>
	</div>
</div>
	</header>

	
	
</body>
</html>

{% endblock content %}